/* .project {
  width: 20vw;
  height: 20vh;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 24px;
}

.project-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.project-description {
  font-size: 1rem;
  font-weight: normal;
  text-align: justify;
}

.project-tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4px;
  align-items: flex-start;
}

.tool {
  font-size: 1rem;
  font-weight: normal;
  border: 2px solid #fffffe;
  border-radius: 16px;
  padding: 6px;
}

.hovered-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.45s ease-in-out;
} */

/* ProjectCard.css */

.project {
  text-decoration: none;
  color: #fff; /* Set text color to white or your preferred color */
  padding: 15px;
  border-radius: 8px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.project:hover {
  background-color: #555; /* Change the color on hover */
}

.project-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.hovered-content {
  display: flex;
  flex-direction: column;
}

.project-description {
  font-size: 16px;
  margin-bottom: 8px;
}

.project-tools {
  display: flex;
}

.tool {
  margin-right: 8px;
  background-color: #333; /* Set the background color for tools */
  padding: 4px 8px;
  border-radius: 4px;
}
