.skill-card {
  background-color: #fffffe;
  border-radius: 16px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px;
  width: 20vw;
}

.skill-icon {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.skill-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.skill-description {
  text-align: center;
}
